#titleScreenPane {
    -fx-background-color: black;
}

/*
#titleScreenGameLogo {
    -fx-background-image: url('/images/black_game_logo.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}
 */

#titleScreenPrompt {
    -fx-font-family: Bell MT;
    -fx-font-size: 28;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;
    -fx-text-fill: white;
}

.titleScreenLabel {
    -fx-font-family: Bell MT;
    -fx-font-size: 18;
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;
    -fx-text-fill: white;
}

.titleScreenTextField {
    -fx-pref-width: 150.0;
    -fx-pref-height: 10.0;
    -fx-font-family: Bell MT;
    -fx-font-size: 18;
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;
    -fx-background-radius: 5.0 5.0 5.0 5.0;
}

#awaitingConnectionPane {
    -fx-background-color: black;
}

.button {
    -fx-alignment: CENTER;
    -fx-text-alignment: JUSTIFY;
    -fx-wrap-text: true;
    -fx-font-family: Castellar;
    -fx-font-size: 16.0;
}

#scoreboardPane {

}

#deckAndVisiblePane {

}

#opponentsFieldsPane {

}

#ownFieldPane {

}

#handPane {

}

#chatPane {

}
