#titleScreenPane {
    /*-fx-background-color: black;*/
    -fx-background-image: url("/images/title_screen_bg_old_scroll.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}

#cranioCreationsLogo {
    -fx-opacity: 0.0;
}

#titleScreenBox {
    -fx-opacity: 0.0;
}

#titleScreenPrompt {
    -fx-font-family: Bell MT;
    -fx-font-size: 28;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;
    -fx-text-fill: #368B84;
}

.titleScreenLabel {
    -fx-font-family: Bell MT;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;
    -fx-text-fill: #368B84;
}

#connectionPane {
    -fx-background-image: url("/images/title_screen_bg_old_scroll.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}

.titleScreenTextField {
    -fx-pref-width: 150.0;
    -fx-pref-height: 10.0;
    -fx-font-family: Bell MT;
    -fx-font-size: 18;
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;
    -fx-background-radius: 5.0 5.0 5.0 5.0;
}

#connectionSetupBox {
    -fx-spacing: 50;
    -fx-opacity: 0.0;
}

#connectionTechnologySetupBox {
    -fx-spacing: 200;
}

#awaitingConnectionPane {
    -fx-background-image: url("/images/title_screen_bg_old_scroll.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}

.button {
    -fx-alignment: CENTER;
    -fx-text-alignment: JUSTIFY;
    -fx-wrap-text: true;
    -fx-font-family: Castellar;
    -fx-font-size: 16.0;
}

#lobbiesPane {
    -fx-alignment: CENTER;
    -fx-text-alignment: JUSTIFY;
    -fx-background-color: #CC9966;
}

.lobbyHBox {
}

#scoreboardPane {

}

#deckAndVisiblePane {

}

#opponentsFieldsPane {

}

#ownFieldPane {

}

#handPane {

}

#chatPane {

}
